<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：名称空间
-->
<mapper namespace="com.didicallchicken.mapper.GoodsMapper">
    <resultMap id="resultMapGoods" type="goods">
        <result column="goods_id" property="goodsId"></result>
        <result column="business_id" property="businessId"></result>
        <result column="goods_name" property="goodsName"></result>
        <result column="goods_price" property="goodsPrice"></result>
        <result column="goods_img" property="goodsImg"></result>
    </resultMap>

    <select id="selectByBusinessId" resultMap="resultMapGoods">
            select * from goods
            where business_id = #{businessId};
    </select>
    <select id="selectAllByGoodsId" resultMap="resultMapGoods">
            select * from goods
            where goods_id = #{goodsId};
    </select>

</mapper>