<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：名称空间
-->
<mapper namespace="com.didicallchicken.mapper.OrdersMapper">

    <resultMap id="resultMapOrders" type="orders">
        <result column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="business_id" property="businessId"/>
        <result column="address_id" property="addressId"/>
        <result column="order_date" property="orderDate"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="goods_sum" property="goodsSum"></result>
    </resultMap>
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
      insert into orders values (null,#{userId},#{businessId},#{addressId},NOW(),#{orderAmount},#{goodsSum});
    </insert>
<!--    <insert id="insertTest">-->
<!--        insert into time_test values (NOW());-->
<!--    </insert>-->
    <update id="updateMonthlySales">
        update business
        SET monthly_sales = monthly_sales + 1
        WHERE business_id = #{businessId}
    </update>
    <select id="selectAll" resultMap="resultMapOrders">
        select * from orders where user_id = #{userId};
    </select>
    <select id="selectByOrderId" resultMap="resultMapOrders">
        select * from orders where order_id = #{orderId};
    </select>

    <select id="getName" resultType="java.lang.String">
        select name from address
        WHERE address_id = #{addressId};
    </select>
    <select id="getBusinessName" resultType="java.lang.String">
        select business_name from business
        where business_id = #{businessId};
    </select>
    <select id="getGoodsName" resultType="java.lang.String">
        select goods_name from goods
        WHERE goods_id =#{goodsId};

    </select>
    <select id="getBusImg" resultType="java.lang.String">
        select bus_img from business
        where business_id = #{businessId};
    </select>
    <select id="getGoodsImg" resultType="java.lang.String">
        select goods_img from goods
        where goods_id = #{goodsId};
    </select>
    <select id="getPhone" resultType="java.lang.String">
        select phone from address
        WHERE address_id = #{addressId};
    </select>
    <select id="getAddress" resultType="java.lang.String">
        select location from address
        WHERE address_id = #{addressId};
    </select>
    <select id="selectAllOrder" resultMap="resultMapOrders">
        select * from orders
    </select>

</mapper>